@model OnlineStore1.Models.ProductModel

@{
    ViewData["Title"] = "Delete Product";
}


<div class="container">
    <h4>Delete Product</h4>
    <hr />
    <form asp-action="Delete" method="post">
        <div class="p-4 rounded border row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4 ">
                        <label asp-for="Name" class="control-label"></label>
                    </div>
                    <div class="col-8 ">
                        <input asp-for="Name" class="form-control" readonly="readonly" />
                    </div>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4 ">
                        <label asp-for="Price" class="control-label"></label>
                    </div>
                    <div class="col-8 ">
                        <input asp-for="Price" class="form-control" readonly="readonly" />
                    </div>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                @*<div class="form-group row">
            <div class="col-4 ">
                <label asp-for="Image" class="control-label"></label>
            </div>
            <div class="col-8 ">
                <input asp-for="Image" class="form-control" type="file" />
            </div>
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>*@

                <div class="form-group row">
                    <div class="col-4 ">
                        <label asp-for="ProductColor" class="control-label"></label>
                    </div>
                    <div class="col-8 ">
                        <input asp-for="ProductColor" class="form-control" readonly="readonly" />
                    </div>
                    <span asp-validation-for="ProductColor" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4 ">
                        <label asp-for="ProductTypeId" class="control-label"></label>
                    </div>
                    <div class="col-8 ">
                        <select asp-for="ProductTypeId" asp-items="ViewBag.productTypeid" class="form-control" disabled>
                            <option value=""> --Select a Category-- </option>
                        </select>
                        @*<input asp-for="ProductTypeId" class="form-control" />*@
                    </div>
                    <span asp-validation-for="ProductTypeId" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <div class="col-4 ">
                        <label asp-for="SpecialTagId" class="control-label"></label>
                    </div>
                    <div class="col-8 ">
                        <select asp-for="SpecialTagId" asp-items="ViewBag.specialTagid" class="form-control" disabled>
                            <option value="">   -- Select a Brand --  </option>
                        </select>

                        @*<input asp-for="SpecialTagId" class="form-control" />*@
                    </div>
                    <span asp-validation-for="SpecialTagId" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <div class="col-2 ">
                        <label asp-for="Description" class="control-label"></label>
                    </div>
                    <div class="col-5 ">
                        <input asp-for="Description" class="form-control" readonly="readonly"/>
                    </div>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <div class="col-4 ">
                        <label asp-for="IsAvailable" class="control-label"></label>
                    </div>
                    <div class="col-8" style="width:30px; height:15px">
                        <input asp-for="IsAvailable" type="checkbox" disabled />
                    </div>
                    <span asp-validation-for="IsAvailable" class="text-danger"></span>
                </div>
                <h5>Are you sure you want to Delete this Product?</h5>

                <div class="form-group">
                    <input type="submit" value="  Yes  " class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-success">No Back to List</a>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-3">
                <img src="~/@Model.Image" alt="@Model.Name" width="100%" style="border-radius:5px; border:1px solid #efefef" />
            </div>

        </div>
    </form>
</div>

<!--    Call in the Ajax cdns for Quick Validations-->
@section Scripts{

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}