@model OnlineStore1.Models.SpecialTagModel

@{
    ViewData["Title"] = "Delete Brand";
}


<div class="container">
    <h4>Delete Brand</h4>
    <hr />
    <form asp-action="Delete" method="post">
        <div class="p-4 rounded border">
            <div class="form-group row">
                <div class="col-2 ">
                    <label asp-for="SpecialTag" class="control-label"></label>
                </div>
                <input asp-for="Id" type="hidden" readonly="readonly" class="form-control" />

                <div class="col-5 ">
                    <input asp-for="SpecialTag" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="SpecialTag" class="text-danger"></span>
            </div>
            <p>Are you sure you want to Delete this Brand?</p>

            <div class="row">
                <div class="col"></div>
                <div class="col-3">
                    <div class="form-group">
                        <input type="submit" value="  Yes  " class="btn btn-danger" />
                        <a asp-action="Index" asp-controller="SpecialTag" class="btn btn-success">No Back to List</a>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </form>
</div>

<!--    Call in the Ajax cdns for Quick Validations-->
@section Scripts{

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

